.Spinner {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
    left: calc(50vw - 20px);
    top: calc(50vh - 20px);
}

.Overlay {
        position: absolute;
        width: 100% !important;
        height: 100% !important;
        z-index: 9999;
        /* background-color: rgba(0, 0, 0, 0.3); */
}

@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0)
    }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}