.Me {
    width: 100%;
    transform: translateY(-30px)
}


.Container {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 200px;
    width: 200px;
}

.Round {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.Border {
    border: 2px #ffffff solid;
}
.Fill {
    height: 100%;
}