.Me {
    width: 100%;
    transform: translateY(-30px)
}


.Container {
    width: 200px;
}

.Round {
    height: 200px;
    width: 200px;
    border: 2px #ffffff solid;
    border-radius: 50%;
    overflow: hidden;
}