.Hide {
    transition:  .3s ease-out;
    opacity: 0
}

.Show {
    transition : .5s ease-out;
    opacity: 1
}

.FadeIn {
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
    -ms-animation: fadein 1s;
    -o-animation: fadein 1s;
    animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
