.App {
  background: -webkit-radial-gradient(closest-corner, rgba(16, 47, 70, 0) 60%, rgba(16, 47, 70, 0.26)),
                  -webkit-linear-gradient(108deg, #26d0ce, #1a2980 90%);
}
.App {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
}