@import url('https://fonts.googleapis.com/css?family=Rubik');
.Hide {
    transition: opacity 3.5s;
    opacity: 1;
}

.Show {
    opacity: 0;
}

.Shadow {
    box-shadow: 7px 7px rgba(0, 0, 0, 0.2)
}

.Caption {
    min-height: 60px;
    display: inline-block;
    font-family: 'Rubik', sans-serif;
    color: #ffffff;
    font-size: 2.5rem;
    margin-top: 20px;
}
