@import url('https://fonts.googleapis.com/css?family=Rubik');
.Hide {
    transition: opacity 3.5s;
    opacity: 1;
}

.Show {
    opacity: 0;
}

.Shadow {
    box-shadow: 7px 7px rgba(0, 0, 0, 0.2)
}

.Caption,
.Caption a {
    min-height: 60px;
    display: inline-block;
    position: relative;
    font-family: 'Rubik', sans-serif;
    color: #ffffff;
    font-size: 2.5rem;
    margin-top: 20px;
}

.Caption a:hover {
    color: #fff;
    text-decoration: none;
}

.Caption a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.Caption a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: #FFF;
    border-radius: 3px;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
